# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/

# User-specific settings
[Uu]serSettings/

# Visual Studio / Rider
.vs/
.vscode/
.idea/
*.csproj
*.sln
*.user
*.userprefs
*.pidb
*.booproj

# OS files
.DS_Store
Thumbs.db

# Crash reports
sysinfo.txt

# Unity Package Manager
Packages/packages-lock.json

# Addressables cache
Assets/AddressableAssetsData/*/*.bin*
